.book-thumbnail {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: contain;
}

.book-card {
  padding: 1rem;
  text-align: center;
}

.titulo-categoria {
  text-align: center;
  margin-bottom: 2rem;
}


.category-title {
  font-family: "Ancient", serif;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.book-title {
  font-family: "Ancient", serif;
  font-size: 8rem;
  text-align: center;
  margin: 1rem 0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 10px;
}

.footer-icons a {
  color: #eee;
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.footer-icons a:hover {
  color: #d4af37; /* dorado imperial */
  transform: scale(1.2);
}
