.book-thumbnail {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: contain;
}

.book-card {
  padding: 1rem;
  text-align: center;
}

.titulo-categoria {
  text-align: center;
  margin-bottom: 2rem;
}


.category-title {
  font-family: "Ancient", serif;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.book-title {
  font-family: "Ancient", serif;
  font-size: 8rem;
  text-align: center;
  margin: 1rem 0;
}
